@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
      float: left;
    position: relative;    
    
}
  li img {
      margin-top: -5px;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 33px 200px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: green;
  }
  
  .navbar {
    background-color: #4CAF50;
  }
 h1 {
    font-family: 'Hammersmith One', sans-serif;
    margin-left: 33%;
    margin-top: 19%;
 }